@model IEnumerable<WebBanXeGanMay.Models.NHAPHANPHOI>
@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("SPTheoNPP","Home",new {id = item.MaNPP})">@item.TenNPP</a>
    </li>
}





